<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">


 <servlet>
 	<servlet-name>DBAccessLocal</servlet-name>
 	<servlet-class>com.bazarket.localdbconnect.controllers.DbAccessLoc</servlet-class>
 </servlet>

 <servlet-mapping>
 	<servlet-name>DBAccessLocal</servlet-name>
 	<url-pattern>/LookThroughDatabase.do</url-pattern>
 </servlet-mapping>

    <servlet>
        <servlet-name>DBAccessAskFocus</servlet-name>
        <servlet-class>com.bazarket.localdbconnect.controllers.DbAccessLocForSmth</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DBAccessAskFocus</servlet-name>
        <url-pattern>/AskFocus.do</url-pattern>
    </servlet-mapping>



 <listener>
     <listener-class>
         com.bazarket.localdbconnect.controllers.DbServletContextListener
     </listener-class>
 </listener>
 
</web-app>